{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-classes", {
      "loose": true
    }],
    ["@babel/plugin-transform-object-assign"],
    ["transform-object-rest-spread"]
  ]
}
