/**
 * {1} This acts as a backdrop
 */
.h5p-information-dialog-container {
  background-color: rgba(0, 0, 0, 0.3); /* {1} */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.h5p-information-dialog {
  background-color: #fff;
  left: 50%;
  max-width: 90%;
  min-height: 6.25rem;
  min-width: 12.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  img,
  video {
    display: block;
    height: auto;
    margin-bottom: 2rem;
    max-width: 100%;
  }
}

.h5p-information-dialog-main {
  max-height: 70vh;
  overflow: auto;
  padding: 2rem 3rem;

  .h5p-video.h5p-youtube {
    width: 500px; // Only refactoring, was hardcoded before, see https://github.com/NDLANO/h5p-interactive-board/commit/50e53d141397b3078a0c14cd2863d64bbe94afd9
  }
}

.h5p-information-dialog-close-button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 0.5;
  padding: 0.5em;
  position: fixed;
  right: 0.15rem;
  top: 0;
}

.h5p-information-dialog-audio-button {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ccc;
  bottom: 0.5rem;
  cursor: pointer;
  height: 2em;
  line-height: 2em;
  padding: 0;
  position: fixed;
  right: 0.5rem;
  transition: background-color 0.15s ease-in-out;
  width: 2em;

  &:hover {
    background-color: #f2f2f2;
  }
  
  &::before {
    font-family: "H5PFontIcons";
    font-size: 1rem;
  }
}

[data-is-playing-audio="true"] .h5p-information-dialog-audio-button {
  $pause-icon: "\e92e";
  &::before {
    content: $pause-icon;
  }
}

[data-is-playing-audio="false"] .h5p-information-dialog-audio-button {
  $play-icon: "\e92d";

  &::before {
    content: $play-icon;
  }
}
