/**
 * {1} This acts as a backdrop
 */
.h5p-information-dialog-container {
  background-color: rgba(0, 0, 0, 0.3); /* {1} */
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.h5p-information-dialog {
  background-color: #fff;
  left: 50%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  img,
  video {
    display: block;
    height: auto;
    margin-bottom: 2rem;
    max-width: 100%;
  }
}

.h5p-information-dialog-main {
  max-height: 70vh;
  overflow: auto;
  padding: 2rem 3rem;  
}

.h5p-information-dialog-close-button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 0.5;
  padding: 0.5em;
  position: fixed;
  right: 0.5rem;
  top: 0;
}
