.h5p-course-presentation .h5p-keywords-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 84.375%;
  width: 31.25%;
  height: 100%;
  background: #fbfbfb;
  background: rgba(251,251,251,0.9);
  box-shadow: 0 0 0.15em 0 #d1d1d1;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.1s, opacity 0.1s linear, right 0.1s linear;
  -moz-transition: visibility 0s linear 0.1s, opacity 0.1s linear, right 0.1s linear;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear, right 0.1s linear;
}

.h5p-course-presentation .h5p-keywords-wrapper.h5p-open {
  opacity: 1;
  right: 68.75%;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] {
  line-height: 125%;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] > span {
  color: #424242;
  font-weight: normal;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] > span:focus + .joubel-icon-edit {
  visibility: visible;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"].h5p-editing .joubel-icon-edit {
  visibility: hidden;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] .h5p-keyword-subtitle {
  font-size: 0.6em;
  color: #757575;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.h5p-course-presentation .h5p-sub-keyword {
  margin-left: 1.25em;
  margin-top: 0.5em;
  line-height: 105%;
  padding: 0;
  font-size: 0.875em;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"]::-webkit-scrollbar,
.h5p-course-presentation .h5p-element .h5p-element-outer::-webkit-scrollbar,
.h5p-course-presentation .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar {
  width: 0.4em;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"]::-webkit-scrollbar-thumb,
.h5p-course-presentation .h5p-element .h5p-element-outer::-webkit-scrollbar-thumb,
.h5p-course-presentation .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar-thumb {
  border-radius: 0.2em;
  background: rgb(0, 151, 253);
  box-shadow: inset 0 0 0.3em rgba(0,0,0,0.5);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"]::-webkit-scrollbar-thumb:hover,
.h5p-course-presentation .h5p-element .h5p-element-outer::-webkit-scrollbar-thumb:hover,
.h5p-course-presentation .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 161, 249);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"] {
  padding: 0.65em 0.65em 0.65em 1em;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  font-size: 0.65em;
  cursor: pointer;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"].h5p-current {
  background-color: rgba(0, 0, 0, 0.04);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]:hover span {
  color: #1d74c8;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]:focus {
  outline: 2px solid #79abfd;
  background-color: rgba(121, 171, 253, 0.2);
  outline-offset: -2px;
}
