.h5p-course-presentation .h5p-keywords-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 84.375%;
  width: 31.25%;
  height: 100%;
  background-color: var(--ui-base);
  opacity: 100;
  box-shadow: 0 0 0.35em 0 #0000008f;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear 0.1s, opacity 0.1s linear, right 0.1s linear;
  -moz-transition: visibility 0s linear 0.1s, opacity 0.1s linear, right 0.1s linear;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear, right 0.1s linear;
}

.h5p-course-presentation .h5p-keywords-wrapper.h5p-open {
  opacity: 1;
  right: 68.75%;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
.h5p-course-presentation .h5p-theme-navigation-header{
  letter-spacing: 4.55px;
  text-transform: uppercase;
  font-size: var(--font-size-m);
  color: var(--text-third);
  padding: var(--spacing-s) var(--spacing-m);
  margin: 0;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] {
  line-height: 125%;
  display: flex;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] > span {
  color: var(--text-secondary);
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-content: center;
  width: 80%;
}


.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] > span:focus + .joubel-icon-edit {
  visibility: visible;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"].h5p-editing .joubel-icon-edit {
  visibility: hidden;
}

.h5p-course-presentation .h5p-keywords-wrapper [role="menuitem"] .h5p-keyword-subtitle {
  font-size: 0.7em;
  color: var(--text-secondary);
  margin-right: var(--spacing-xs);
  border-radius: var(--border-radius-small);
  line-height: 1.5;
  border: solid 1px var(--stroke-3);
  padding: calc(var(--spacing-xxs)/2) var(--spacing-xs);
  min-width: 1rem;
  text-align: center;
  background-color: var(--ui-base);
  align-content: center;
  font-weight: bold;
}

.h5p-course-presentation .h5p-sub-keyword {
  margin-left: 1.25em;
  margin-top: 0.5em;
  line-height: 105%;
  padding: 0;
  font-size: 0.875em;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"]::-webkit-scrollbar,
.h5p-course-presentation .h5p-element .h5p-element-outer::-webkit-scrollbar,
.h5p-course-presentation .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar {
 width: 0.4em;
 background: var(--contrast-cta-light);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"]::-webkit-scrollbar-thumb,
.h5p-course-presentation .h5p-element .h5p-element-outer::-webkit-scrollbar-thumb,
.h5p-course-presentation .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar-thumb {
  background: var(--main-cta-base);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"]::-webkit-scrollbar-thumb:hover,
.h5p-course-presentation .h5p-element .h5p-element-outer::-webkit-scrollbar-thumb:hover,
.h5p-course-presentation .h5p-element .h5p-element-outer .h5p-element-inner::-webkit-scrollbar-thumb:hover {
   background: var(--main-cta-light);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"] {
  margin: 0.35em 0.5em 0.35em 0.5em;
  padding: 0.35em 0.35em 0.35em 0.5em;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.11);*/
  font-size: 0.65em;
  cursor: pointer;
  border-radius: var(--border-radius-small);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]{
  pointer-events: none;
}




.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"].h5p-current {
  background-color: var(--contrast-cta-light);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"] span {
  pointer-events: auto;
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]:hover {
  background-color: var(--contrast-cta-light);
}

.h5p-course-presentation .h5p-keywords-wrapper > [role="menu"] > [role="menuitem"]:focus {
  outline: 2px solid #79abfd;
  background-color: rgba(121, 171, 253, 0.2);
  outline-offset: -2px;
}
