/* --------------------------------------- Footer -------------------------------- */

/* Footer */
.h5p-course-presentation .h5p-footer {
  align-content: center;
  align-items: center;
  background-color: var(--h5p-theme-ui-base);
  color: var(--h5p-theme-text-secondary);
  display: grid;
  font-size: 0.75em;
  grid-template-columns: 40% 1fr 40%;
  height: 7%;
  justify-content: space-between;
  line-height: 1;
  text-align: left;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 100%;
}

/* Footer buttons */
.h5p-course-presentation .h5p-footer .h5p-footer-button {
  display: inline-flex;
  background: transparent;
  color: var(--h5p-theme-text-primary);
  cursor: pointer;
  /* TODO: remove border */
  border: solid 0px green;
  border-radius: var(--h5p-theme-border-radius-small);
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  padding: 0.5em;
  align-items: center;
}

.h5p-course-presentation .h5p-footer .h5p-footer-left-adjusted .h5p-footer-button {
  max-width: 100%;
}

.h5p-course-presentation .h5p-footer .h5p-theme-nav-button{
  font-size: 0.75em;
  padding: 0.5em;
  border-radius: 50%;
  background-color: var(--h5p-theme-secondary-cta-base);
  color: var(--h5p-theme-secondary-contrast-cta);
  margin: 0 5px;
  font-weight: normal;
}

.h5p-course-presentation .h5p-footer .h5p-theme-nav-button:before,
.h5p-course-presentation .h5p-footer .h5p-theme-nav-button:after {
  font-weight: normal;
  margin: 0;
}
.h5p-course-presentation .h5p-footer .h5p-theme-nav-button:hover{
  background-color: var(--h5p-theme-secondary-cta-light);
}
.h5p-course-presentation .h5p-footer .h5p-theme-nav-button:active{
  background-color: var(--h5p-theme-secondary-cta-dark);
}


.h5p-course-presentation .h5p-footer .h5p-footer-button:before,
.h5p-footer-button .h5p-icon-menu:before {
  padding: 0;
}
.h5p-course-presentation .h5p-footer .h5p-footer-button:hover{
  background-color: var(--h5p-theme-contrast-cta-light);
}

/* Footer containers */

.h5p-course-presentation .h5p-footer .h5p-footer-right-adjusted {
  text-align: right;
}

.h5p-course-presentation .h5p-footer .h5p-footer-center-adjusted {
  display: flex;
  justify-content: center;
  width: 100%;
}

.h5p-course-presentation .h5p-footer .h5p-navigation {
  background: none;
  box-shadow: none;
  grid-gap: unset;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  width: 100%;
}

.h5p-course-presentation .h5p-footer .h5p-navigation .progress-container {
  text-align: center;
  white-space: nowrap;
}

  /* ---------------------------- Footer slide information buttons ----------------------- */
  /* Slide counter */
  .h5p-course-presentation .h5p-footer .h5p-footer-slide-count,
  .h5p-course-presentation .h5p-footer .h5p-footer-slide-count-current,
  .h5p-course-presentation .h5p-footer .h5p-footer-slide-count-delimiter,
  .h5p-course-presentation .h5p-footer .h5p-footer-slide-count-max {
    display: inline-block;
    min-width: 23px;
  }

/* ---------------------------------------------- Solution Mode ---------------------------------- */

/* Footer in solution mode */
.h5p-course-presentation .h5p-footer.h5p-footer-solution-mode {
  background-color: #2b2c30;
  color: #fbfbfb;
}

/* Only show exit solultion mode button in solution mode */
.h5p-course-presentation .h5p-footer.h5p-footer-solution-mode .h5p-footer-exit-solution-mode {
  display: inline-block;
  cursor: pointer;
  position: relative;
  line-height: 1.35;
}

/* Hide exit solution mode button initially */
.h5p-course-presentation .h5p-footer .h5p-footer-exit-solution-mode {
  display: none;
}

/* Hide exit solution mode button on summary slide */
.h5p-course-presentation .h5p-footer.h5p-footer-solution-mode.summary-slide .h5p-footer-exit-solution-mode {
  display: none;
}

/* Footer solution mode text */
.h5p-course-presentation .h5p-footer .h5p-footer-exit-solution-mode-text {
  display: inline-block;
  padding: 0 0.25em;
}

.h5p-course-presentation .h5p-footer.h5p-footer-solution-mode .h5p-footer-button {
  color: #fbfbfb;
}


/* --------------------------------------------- Footer elements ---------------------------------------- */

.h5p-course-presentation .h5p-footer-toggle-keywords .h5p-icon-menu:before {
  font-family: 'h5p-theme';
  content: "\e913";
  -webkit-font-smoothing: antialiased;
}

.h5p-course-presentation .h5p-footer-toggle-keywords[aria-expanded="true"] .h5p-icon-menu:before {
  content: "\e916";
}

/* Footer keyword button */
.h5p-course-presentation .h5p-footer .h5p-footer-toggle-keywords {

}

.h5p-course-presentation .h5p-footer .h5p-footer-toggle-keywords .current-slide-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 0.5rem;
  color: var(--h5p-theme-text-secondary);
  line-height: 1;
  font-size: 0.65em;
}

.h5p-course-presentation .h5p-footer .current-slide-title:empty {
  display: none;
}

.h5p-course-presentation .h5p-footer [aria-expanded="true"].h5p-footer-toggle-keywords .current-slide-title:before {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Print button and full screen button (in footer) */
.h5p-course-presentation .h5p-footer .h5p-footer-print:before {
  font-family: 'H5PFontAwesome4';
}
.h5p-course-presentation .h5p-footer .h5p-footer-toggle-full-screen:before {
  font-family: 'h5p-theme';
}
.h5p-course-presentation .h5p-footer .h5p-footer-print:before {
  content: "\f02f";
}
.h5p-course-presentation .h5p-footer .h5p-footer-toggle-full-screen:before {
  content: "\e915";
}

/* Hide print button on small screens */
@media screen and (max-device-width: 400px) {
  .h5p-course-presentation .h5p-footer .h5p-footer-print {
    display: none;
  }
}
/* Hide print button in fullscreen */
.h5p-course-presentation.h5p-fullscreen .h5p-footer .h5p-footer-print,
.h5p-course-presentation.h5p-semi-fullscreen .h5p-footer .h5p-footer-print {
  display: none;
}

.h5p-course-presentation.h5p-fullscreen .h5p-footer .h5p-footer-toggle-full-screen:before,
.h5p-course-presentation.h5p-semi-fullscreen .h5p-footer .h5p-footer-toggle-full-screen:before {
  content: "\e914";
}

/* ------------------------------------------ Full Screen scaling ------------------------------------- */

/* Solution mode text changes to footer elements */
.h5p-course-presentation .h5p-footer.footer-full-screen button.h5p-footer-button {
  font-size: 1.0em;
}

/* ----------------------------------------- Progress bar --------------------------------------------- */

.h5p-course-presentation .h5p-theme-progress{
  padding: 0.25em 0.5em;
}

.h5p-course-presentation .h5p-cp-navigation {
  position: relative;
  z-index: 1;
  height: 3%;
 /* box-shadow: 1px -3px 7px 0px rgb(0 0 0 / 23%);*/
}

.h5p-course-presentation .h5p-progressbar {
  width: 100%;
  height: 100%;
  overflow: visible;
  background: var(--h5p-theme-ui-base);

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part.progressbar-part-summary-slide {
  -webkit-flex: 0;
  flex: 0;
  min-width: 2.2em;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-selected.progressbar-part-summary-slide a {
  padding-top: 0;
  text-decoration: none;
  background-color: var(--h5p-theme-main-cta-base);
}

/* The summary slide icon */
.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part.progressbar-part-summary-slide a:after {
  font-family: "h5p-theme";
  content: "\e904";
  font-size: 0.5em;
  margin: 0 auto;
  text-align: center;
  color: var(--h5p-theme-secondary-cta-base);
}
.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-selected.progressbar-part-summary-slide a:after{
  color: var(--h5p-theme-contrast-cta);
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part.progressbar-part-summary-slide a {
  text-decoration: none;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part {
  flex: 1;
  position: relative;

}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part {
  background-color: color-mix(in srgb, var(--h5p-theme-secondary-cta-base) 20%, var(--h5p-theme-secondary-contrast-cta) 80%);
  box-shadow: inset -1px 0 0 color-mix(in srgb, var(--h5p-theme-secondary-cta-base), transparent 50%);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background: var(--h5p-theme-secondary-cta-base);
    z-index: 1;
    box-shadow: inset -1px 0 0 var(--h5p-theme-secondary-contrast-cta);
    transition: width var(--h5p-cp-nav-bar-fill-duration, 200ms) linear;
  }
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-show::before {
  width: 100%;
}

.h5p-course-presentation .h5p-progressbar a {
  position: relative; /* needed for z-index */
  z-index: 3;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.h5p-course-presentation .h5p-progressbar a:focus-visible {
  outline: 2px solid var(--h5p-theme-contrast-cta-white);
  outline-offset: 1px;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part.h5p-progressbar-part-show {
  background-position: left;

}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-show .h5p-progressbar-part-has-task{
  border-color: var(--h5p-theme-secondary-contrast-cta) !important;
}

/* -------------------------------------- Feedback for progress bar ------------------------------------- */
.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part .h5p-progressbar-part-has-task:after {
  position: absolute;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 0.1em 0.3em;
  line-height: 1em;
  border: 0.1em solid;
  cursor: auto;
  font-family: 'H5PFontAwesome4';
  font-size: 0.6em;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part .h5p-progressbar-part-has-task.h5p-is-correct:after {
  content: "\f00c";
  color: #6aa81b;
  background-color: #d1e2ce;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part .h5p-progressbar-part-has-task.h5p-is-wrong:after {
  content: "\f00d";
  color: #c33f62;
  background-color: #e6ced1;
}

/* --------------------------------------------------------- Progressbar with task ---------------------------- */
.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part .h5p-progressbar-part-has-task {
  display: block;
  width: 0.3em;
  height: 0.3em;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  border: 2px solid var(--h5p-theme-secondary-cta-base);
  cursor: pointer;

  background: transparent;
  margin-right: auto;
  margin-left: auto;


}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part .h5p-progressbar-part-has-task.h5p-answered {
  background: var(--h5p-theme-main-contrast-cta);
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part.h5p-progressbar-part-show .h5p-progressbar-part-has-task.h5p-answered {
  background: var(--h5p-theme-main-contrast-cta);
}

/* -------------------------------------- Footer hover effects ---------------------------------- */

.h5p-course-presentation .h5p-footer [role="button"]:hover {

}

.h5p-course-presentation .h5p-footer [role="button"]:focus-visible,
.h5p-course-presentation .h5p-footer .h5p-footer-button:focus-visible {
  outline: 2px ridge var(--h5p-theme-contrast-cta-white);
  outline-offset: -2px;
}

.using-mouse .h5p-course-presentation .h5p-footer .h5p-footer-button.h5p-footer-toggle-keywords:focus-visible {
  background-color: transparent;
}

.h5p-course-presentation .h5p-footer [aria-disabled="true"].h5p-footer-button {
  visibility: hidden;
}
.h5p-course-presentation .h5p-footer [aria-disabled="true"].h5p-footer-button:before,
.h5p-course-presentation .h5p-footer [aria-disabled="true"].h5p-footer-button:after {
  color: #999;
}

.h5p-course-presentation .h5p-footer.h5p-footer-solution-mode [role="button"] {
  color: #dbd7d1;
}

.h5p-course-presentation .h5p-footer.h5p-footer-solution-mode [role="button"]:focus-visible {
  color: #dbd7d1;
  outline: 2px solid #fff;
  background-color: transparent;
}
