.h5p-course-presentation .h5p-wrapper {
  position: relative;
  width: 640px;
  height: 410px;
  text-align: center;
}
.h5p-course-presentation .h5p-presentation-wrapper {
  text-align: left;
  width: 640px;
  height: 360px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 0 #888;
  background: #f9f9f9;
}
.h5p-course-presentation .h5p-keywords-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 360px;
  background: rgba(255, 230, 230, 0.8);
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px 0 #b9b9b9;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.h5p-course-presentation .h5p-keywords-wrapper ol {
  margin: 0;
  padding: 0;
}
.h5p-course-presentation .h5p-keywords-wrapper li {
  margin: 2px 0 2px 24px;
  padding: 0 0 4px 0;
}
.h5p-course-presentation .h5p-keywords-wrapper > ol {
  width: 250px;
  height: 360px;
  overflow: auto;
  margin: 6px 0;
}
.h5p-course-presentation .h5p-keywords-wrapper > ol > li {
  padding: 0 10px 4px 10px;
  width: 180px;
  margin: 0;
  opacity: 0.5;
}
.h5p-course-presentation .h5p-keywords-wrapper > ol > li.h5p-current {
  opacity: 1;
}
.h5p-course-presentation .h5p-slide {
  padding: 10px 10px 10px 210px;
  width: 420px;
  height: 340px;
  position: absolute;
  top: 0;
  left: 640px;
  background: #eef;
}
.h5p-course-presentation .h5p-slide:first-child {
  background: #efe;
}
.h5p-course-presentation .h5p-slide:last-child {
  background: #ffe;
}
.h5p-course-presentation .h5p-animate .h5p-slide {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.h5p-course-presentation .h5p-current {
  left: 0;
}
.h5p-course-presentation .h5p-previous {
  left: -640px;
}
.h5p-course-presentation .h5p-slideination {
  display: inline-block;
  height: 40px;
  overflow: hidden;
  background: #fafafa;
}
.h5p-course-presentation .h5p-slideination a {
  color: #000;
}
.h5p-course-presentation .h5p-slideination a:hover {
  text-decoration: none;
}
.h5p-course-presentation .h5p-slideination > a {
  display: block;
  float: left;
  padding: 10px;
  background: #f0f0f0;
}
.h5p-course-presentation .h5p-slideination > a:hover {
  background: #e4e4e4;
}
.h5p-course-presentation .h5p-slideination > .h5p-scroll-left, .h5p-course-presentation .h5p-slideination > .h5p-scroll-right {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.h5p-course-presentation .h5p-slideination ol {
  position: relative;
  float: left;
  margin: 0;  
  padding: 0;
  list-style: none;
  width: 100px;
  height: 90px;
  overflow: auto;
  font-size: 22px;
  white-space: nowrap;
}
.h5p-course-presentation .h5p-slideination li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  opacity: 0.5;
}
.h5p-course-presentation .h5p-slideination li.h5p-current {
  opacity: 1;
}