.h5p-course-presentation a:focus {
  box-shadow: none;
}
.h5p-course-presentation .h5p-wrapper {
  position: relative;
  width: 640px;
  height: 410px;
  text-align: center;
  font-size: 16px;
}
.h5p-course-presentation .h5p-wrapper:focus {
  outline: none;
}
.h5p-course-presentation .h5p-presentation-wrapper {
  text-align: left;
  width: 640px;
  height: 360px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 0 #888;
  background: #f9f9f9;
}
.h5p-course-presentation .h5p-keywords-wrapper {
  font-size: 12px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 200px;
  height: 360px;
  background: rgba(255, 230, 230, 0.8);
  border-radius: 0 10px 10px 0;
  box-shadow: 0 0 10px 0 #b9b9b9;
  overflow: hidden;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;

  /* Transparet background for IE */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccFFE6E6,endColorstr=#ccFFE6E6);
  zoom: 1;
}
.h5p-course-presentation .h5p-keywords-wrapper ol {
  margin: 0;
  padding: 0;
}
.h5p-course-presentation .h5p-keywords-wrapper li {
  margin: 2px 0 2px 0px;
  padding: 0 0 6px 0;
  list-style: none;
}
.h5p-course-presentation .h5p-keywords-wrapper li li li {
  margin-left: 20px;
}
.h5p-course-presentation .h5p-keywords-wrapper li li li {
  padding: 0;
}
.h5p-course-presentation .h5p-keywords-wrapper > ol {
  width: 194px;
  height: 348px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 6px 0;
}
.h5p-course-presentation .h5p-keywords-wrapper > ol::-webkit-scrollbar {
  width: 6px;
}
.h5p-course-presentation .h5p-keywords-wrapper > ol::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(255, 200, 200, 0.8);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.4);
}
.h5p-course-presentation .h5p-keywords-wrapper > ol::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 180, 180, 0.8);
}
.h5p-course-presentation .h5p-keywords-wrapper > ol::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0);
}

.h5p-course-presentation .h5p-keywords-wrapper > ol > li {
  padding: 0 10px 4px 10px;
  margin: 0;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.h5p-course-presentation .h5p-keywords-wrapper > ol > li.h5p-current {
  opacity: 1;
  filter: alpha(opacity = 100);
}
.h5p-course-presentation .h5p-slide {
  padding: 10px 10px 10px 210px;
  width: 420px;
  height: 340px;
  position: absolute;
  top: 0;
  left: 640px;
  background: #fafafe;
  z-index: 1;
}
.h5p-course-presentation .h5p-animate .h5p-slide {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.h5p-course-presentation .h5p-current {
  left: 0;
  z-index: 2;
}
.h5p-course-presentation .h5p-previous {
  left: -640px;
}
.h5p-course-presentation .h5p-slideination {
  display: inline-block;
  height: 40px;
  overflow: hidden;
  background: #fafafa;
}
.h5p-course-presentation .h5p-slideination a {
  color: #000;
}
.h5p-course-presentation .h5p-slideination a:hover {
  text-decoration: none;
}
.h5p-course-presentation .h5p-slideination > a {
  display: block;
  float: left;
  padding: 10px;
  background: #f0f0f0;
  font-size: 12px;
}
.h5p-course-presentation .h5p-slideination > a:hover {
  background: #e4e4e4;
}
.h5p-course-presentation .h5p-slideination > .h5p-scroll-left, .h5p-course-presentation .h5p-slideination > .h5p-scroll-right {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.h5p-course-presentation .h5p-slideination ol {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 222px;
  height: 90px;
  overflow: auto;
  font-size: 22px;
  white-space: nowrap;
}
.h5p-course-presentation .h5p-slideination li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.h5p-course-presentation .h5p-slideination li.h5p-current {
  opacity: 1;
  filter: alpha(opacity = 100);
}