.h5p-content .wrapper {
  width: 640px;
  height: 360px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow: 0 0 10px 0 #888;
  background: #f9f9f9;
}
.h5p-content .keywords {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 340px;
  background: rgba(255, 230, 230, 0.8);
  border-radius: 0 10px 10px 0;
  padding: 10px;
  box-shadow: 0 0 10px 0 #b9b9b9;
}
.h5p-content .slide {
  padding: 10px 10px 10px 210px;
  width: 420px;
  height: 340px;
  position: absolute;
  top: 0;
  left: 640px;
  background: #eef;
}
.h5p-content .slide:first-child {
  background: #efe;
}
.h5p-content .slide:last-child {
  background: #ffe;
}
.h5p-content .animate .slide {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
.h5p-content .current {
  left: 0;
}
.h5p-content .previous {
  left: -640px;
}